.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;

  font-size: 24px;

  cursor: pointer;

  .inputText {
    width: 100%;
    padding: 12px;

    font-size: 16px;

    border-radius: 16px;
    background-color: blanchedalmond;
    color: black;
  }
}