.tasksWrp {
  width: 70%;
  margin: 0 auto;

  .wrpHeader {
    margin-bottom: 16px;
  }
  
  .tasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
  }
}
